name: Create and publish Docker image

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
      attestations: write
      packages: write
    strategy:
      matrix:
        distrib:
          - debian-bookworm
        arch:
          - amd64
          - armhf
          - aarch64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-${{ matrix.distrib }}-${{ matrix.arch }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          platforms: linux/${{ matrix.arch }}
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}-${{ matrix.distrib }}-${{ matrix.arch }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true